/* START: Color variable | color name: http://chir.ag/projects/name-that-color */
$Rhino :#2e445e;
$Mine-Shaft : #282828;
$white: #ffffff;
$BigStone: #101c2c;
$SeaShell: #f1f1f1;
$Ghost: #ccd2d8;
$Loblolly: #c2c7cc;
$AliceBlue: #f5faff;
$black: #000000;
$Sunset: #fa4949;
$Ebony: #293645;
$Mirage: #121b26;

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', 'Helvetica', 'sans-serif';
}

#windows-container{
    background-image: url("/images/background-image.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.windows-wrapper {
    // width: 100%;
    // height: 100%;
    position: absolute;
    // padding: 0 22px;
    color: $white;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
}

.d-none {
    display: none !important;
}

/* START : Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: $BigStone;
    color: $white;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 65px;
    top: 25px;
    font-size: 11px;
    width: 70%;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* END : Tooltip container */

/* START: Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $SeaShell; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $Ghost; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $Loblolly; 
}
/* END: Scrollbar */

/* START: Droppable*/
.droppable {
    height:100%;   
    position: relative; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-content: flex-start;
}
/* END: Droppable*/