.main-menu {
    background-color: $AliceBlue;
    position: absolute;
    left: 22px;
    width: 440px;
    padding: 12px 15px;
    color: $black;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 99;
    .search-wrapper {
        position: relative;
        .icon-search-menu {
            position: absolute;
            width: 15px;
            height: 15px;
            padding-top: 6px;
            padding-left: 6px;
        }
        #search-menu {
            padding: 5px 5px 5px 25px;
            width: 392px;
        }
    }
    .application-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 20px;
        max-width: 430px;
    }
}

.application-item {
    position: relative;
    position: relative;
    width: 140px;
    text-align: center;
    margin-bottom: 30px;
    .icon-application {
        width: 45px;
        height: 45px;
        
    }
    .name-application {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        cursor: default;
    }
    .notification-application {
        background-color: $Sunset;
        width: 32px;
        border-radius: 40%;
        color: $white;
        display: block;
        position: absolute;
        top: 30px;
        right: 35px;
        font-size: 12px;
        padding: 2px 0;    
        -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.6);
        -moz-box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.6);
        box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.6);
    }
    .notification-application-shadow {
        background-color: transparent;
        width: 32px;
        height: 16px;
        border-radius: 40%;
        display: block;
        position: absolute;
        top: 30px;
        right: 35px;
        font-size: 12px;
        padding: 2px 0;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
    &.editable {
        position: relative;
        top: 25px;
        margin-bottom: 45px;
    }
}

.window{
    background-color: white;
    width: 200px;
    height: 200px;
}
