.nav-container {
    height: 40px;
    border-left: 1px solid #101721;
    border-top: 1px solid #1f3857;
    border-bottom: 1px solid #293b51;
    .nav-background {
        background-color: #131b26;
        opacity: 0.7;
        height: inherit;
    }
    .nav-wrapper {
        position: relative;
        top: -40px;
        height: 40px;
        display: flex;
        flex-direction: row;
        .start-box {
            width: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
            position: relative;
            &:before, &:after {
                content: "";
                position: absolute;
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.2)), rgba(255, 255, 255, 0.08));
                background-image: -webkit-linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.08));
                background-image: -moz-linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.08));
                background-image: -o-linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.08));
                background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.08));
                top: 0px;
                bottom: 0px;
                width: 1px;
            }
            &:before {
                left: 0px;
            }
            &:after {
                right: 0px;
            }
        }
        .application-box {
            display: flex;
            flex-direction: row;
            .opened-windows {
                width: 88px;
                height: 39px;
                position: relative;
                border-width: 1px;
                border-style: solid;
                -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
                -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
                -moz-border-image:-moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
                -o-border-image:-o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
                border-image:linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;     
                background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2));
                &:hover{
                    background: rgba(0,0,0,0.4); 
                }
                &.active{
                    background: rgba(0,0,0,0.4); 
                    .border-line {
                        border-top: 2px solid #4cacff;
                        &:before {
                            background-image: linear-gradient(transparent, transparent);
                            -webkit-box-shadow: inset 1px 0px 3px 0px rgba(5, 22, 42, 1);
                            -moz-box-shadow: inset 1px 0px 3px 0px rgba(5, 22, 42, 1);
                            box-shadow: inset 1px 0px 3px 0px rgba(5, 22, 42, 1);
                            width: 3px;
                            height: 38px
                        }
                        &:after {
                            background-image: linear-gradient(transparent, transparent);
                            -webkit-box-shadow: inset -1px 0px 3px 0px rgba(5, 22, 42, 1);
                            -moz-box-shadow: inset -1px 0px 3px 0px rgba(5, 22, 42, 1);
                            box-shadow: inset -1px 0px 3px 0px rgba(5, 22, 42, 1);
                            width: 3px;
                            height: 38px
                        }
                    }
                    .icon-main-menu {
                        position: relative;
                        top: -1px;
                    }
                    #main-menu {
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }

            }
            .box-shadow{
                -webkit-box-shadow: 5px -5px 18px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 5px -5px 18px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 2px -15px 7px -1px rgba(0, 0, 0, 0.65);
                height: inherit;
                width: inherit;
                position: absolute;
                right: 0px;
                transform: skewX(-2deg);
            }
            .border-line{
                border-top: 1px solid rgba(255,255,255,0.2);
                top: -1px;
                position: relative;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.2)), to(transparent));
                    background-image: -webkit-linear-gradient(rgba(255,255,255,0.2), transparent);
                    background-image: -moz-linear-gradient(rgba(255,255,255,0.2), transparent);
                    background-image: -o-linear-gradient(rgba(255,255,255,0.2), transparent);
                    background-image: linear-gradient(rgba(255,255,255,0.2), transparent);
                    top: 0px;
                    bottom: -40px;
                    width: 1px;
                }
                &:before {
                    left: 0px;
                }
                &:after {
                    right: 0px;
                }
            }
            .icon {
                height: inherit;
                position: relative;
                top: -2px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 100;
                .icon-main-menu{
                    width: 20px;
                    height: 20px;
                    }
                    .icon-open-apps {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            .user-box {
                margin-left: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .user-icon-wrapper {
                    margin-left: 10px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    div{
                        display: flex;
                    }
                }
                .icon-user-box {
                    width: 22px;
                    height: 22px;
                    padding-right: 10px;
                    padding-left: 10px;
                }
                .divider-1, .divider-2 {
                    width: 1px;
                    height: 35px;
                }
                .divider-1 {
                    background: linear-gradient(transparent, #131b25, transparent);
                }
                .divider-2 {
                    background: linear-gradient(transparent, #627183, transparent);
                }
            }
        }   
    }




.nav-section {
    height: 40px;
    background-color: $Rhino;
    border-top: 2px solid $Mine-Shaft;
    border-bottom: 2px solid $Ebony;
    opacity: 0.8;
    .main-menu-section {
        display: flex;
        flex-direction: row;        
    }
    #start-point {
        width: 21px;
        height: 40px;
        -moz-box-shadow: inset 0 0 1px $white;
        -webkit-box-shadow: inset 0 0 1px $white;
        box-shadow: inset 0 0 1px $white;
        border-left: 1px solid $Mirage;
        border-right: 1px solid $Mirage;
    }
    #main-menu {
        -moz-box-shadow: inset 0 0 1px $white;
        -webkit-box-shadow: inset 0 0 1px $white;
        box-shadow: inset 0 0 1px $white;
    }
    #options {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
}