.widget-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 345px;
    background-color: #2e425a;
    opacity: 1;
    padding: 0 8px 8px 8px;
    border-radius: 4px;
    height: 255px;
    .widget-cta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
        .icon-container.icon-widget {
            width: 12px;
            height: 12px;
            
        }
        .right-container {
            span {
                margin-left: 15px;
            }
        }
    }
    .widget-container {
        background-color: $white;
    }
    .widget-application {
        padding: 10px;
    }
    .widget-header {
        display: flex;
        flex-direction: row;
        .icon-container.icon-widget {
            width: 25px;
            height: 25px;
        }
        .widget-title {
            font-weight: bold;
            color: #686f77;
            font-size: 14px;
            margin-left: 10px;
        }
    }
    .widget-content{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        .icon-container.icon-widget {
            width: 65px;
            height: 65px;
        }
        .health-desc{
            margin-left: 15px;
            p{
                margin: 0;
                &.condition {
                    color: #12805b;
                    font-weight: bold; 
                    font-size: 20px;
                    margin-top: 5px;
                }
                &.desc{
                    font-size: 14px;
                }
            }
        }
        .table-content {
            font-size: 14px;
            width: 100%;
            td {
                width: 50%;
            }
            .tbl-right {
                font-weight: bold;
            }
        }
    }
}