.application-window {
    position: absolute;
    width: 980px;
    height: 550px;
    background-color: #f5faff;
    // top: 50%;
    // left: 30%;
    /* margin-right: -50px; */
    transform: translate(30%, 25%);
    .app-header{
        background: linear-gradient(#e6edf3, #f5faff);
        .header-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 10px;
        }
        .icon-container.icon-windows {
            width: 25px;
            height: 25px;
        }
        .windows-name {
            font-weight: bold;
            color: #6e89a7;
        }
        .header-cta {
            display: flex;
            flex-direction: row;
            .icon-container.icon-windows {
                height: 16px;
                width: 25px;
            }
            .tooltip .tooltiptext {
                left: 22px;
                top: 18px;
                width: inherit;
            }        
            .tooltiptext.info {
                width: 120px;
                text-align: left;
            }
        }
    }
    .app-content{
        display: flex;
        height: 90%;
        font-size: 12px;
        .left-container {
            width: 230px;
            padding: 5px 10px;
            .left-header {
                display: flex;
                
                .btn-home {
                    padding:  2px 10px;
                    background: linear-gradient(#e6edf3, #f5faff);
                    border: 1px solid #c9d0d8;
                    &:hover{
                        background: linear-gradient(#e6edf3, #e6edf3);
                    }
                }
                .icon-container.icon-application {
                    width: 16px;
                    height: 16px;
                }
                .search-wrapper {
                    position: relative;
                    margin-left: 15px;
                }
                .icon-container.icon-search-menu {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                }
                #search-control-panel {
                    padding: 5px 5px 5px 30px;
                    top: 1px;
                    border: 1px solid #c9d0d8;
                    width: 130px;
                }
            }
            .control-panel-list {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                .list-item {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 15px;
                    .name{
                        margin-top:5px;
                    }
                }
                .icon-container.icon-application {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                }
            }
        }
        .divider {
            width: 1px;
            border-right: 1px solid #c9d0d8;
            position: relative;
            bottom: 0;
        }
        .right-container {
            width: 100%;
            padding: 0 15px;
            hr{
                border: 1px solid #c9d0d8;
            }
            .cta-button {
                display: flex;
                border-bottom: 1px solid #c9d0d8;
                padding-top:5px;
                padding-bottom: 10px;
                .btn-home {
                    padding: 4px 10px;
                    margin-right: 15px;
                    background: linear-gradient(#e6edf3, #f5faff);
                    border: 1px solid #c9d0d8;
                    &:hover{
                        background: linear-gradient(#e6edf3, #e6edf3);
                    }
                }
            }
            .table-content {
                width: 100%;
                td {
                    border-bottom: 1px solid #c9d0d8;
                    padding: 5px 0;
                }
                .header {
                    color: #6e89a7;
                }
                .icon-caret-down {
                    width: 10px;
                    height: 8px;
                }
            }
        }
    }
}