.add {
  width: 512px;
  height: 512px;
}

.admin {
  width: 512px;
  height: 512px;
}

.calendar {
  width: 512px;
  height: 512px;
}

.camera {
  width: 512px;
  height: 512px;
}

.caret-down {
  width: 512px;
  height: 512px;
}

.chat {
  width: 512px;
  height: 512px;
}

.check-box-empty {
  width: 512px;
  height: 512px;
}

.checked {
  width: 507.2px;
  height: 507.2px;
}

.checklist {
  width: 512px;
  height: 512px;
}

.close {
  width: 512px;
  height: 512px;
}

.contract {
  width: 512px;
  height: 512px;
}

.control-panel {
  width: 512px;
  height: 512px;
}

.devices {
  width: 512px;
  height: 512px;
}

.download {
  width: 512px;
  height: 512px;
}

.faq {
  width: 512px;
  height: 512px;
}

.folder {
  width: 482.2px;
  height: 482.2px;
}

.health {
  width: 512px;
  height: 512px;
}

.home {
  width: 512px;
  height: 512px;
}

.laptop {
  width: 512px;
  height: 512px;
}

.layers {
  width: 512px;
  height: 512px;
}

.main-menu {
  width: 512px;
  height: 512px;
}

.man {
  width: 512.001px;
  height: 512.001px;
}

.network {
  width: 512.001px;
  height: 512.001px;
}

.notebook {
  width: 56.997px;
  height: 56.997px;
}

.notification {
  width: 512px;
  height: 512px;
}

.padlock {
  width: 512px;
  height: 512px;
}

.pdf {
  width: 512px;
  height: 512px;
}

.pin {
  width: 512px;
  height: 512px;
}

.question {
  width: 512px;
  height: 512px;
}

.remove-xs {
  width: 512px;
  height: 512px;
}

.remove {
  width: 512px;
  height: 512px;
}

.search-global {
  width: 512px;
  height: 512px;
}

.search-xs {
  width: 512px;
  height: 512px;
}

.search {
  width: 512px;
  height: 512px;
}

.shield {
  width: 512px;
  height: 512px;
}

.statistical-chart {
  width: 512px;
  height: 512px;
}

.stock {
  width: 460px;
  height: 460px;
}

.storing {
  width: 512.002px;
  height: 512.002px;
}

.sunflower {
  width: 512px;
  height: 512px;
}

.support {
  width: 512px;
  height: 512px;
}

.telemarketer {
  width: 512px;
  height: 512px;
}

.user {
  width: 512px;
  height: 512px;
}

.volume {
  width: 512px;
  height: 512px;
}

.wifi {
  width: 504px;
  height: 504px;
}

.youtube {
  width: 512px;
  height: 512px;
}

