/* START: Color variable | color name: http://chir.ag/projects/name-that-color */
body, html {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', 'Helvetica', 'sans-serif'; }

#windows-container {
  background-image: url("/images/background-image.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.windows-wrapper {
  position: absolute;
  color: #ffffff;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0; }

.d-none {
  display: none !important; }

/* START : Tooltip container */
.tooltip {
  position: relative;
  display: inline-block; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #101c2c;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 65px;
  top: 25px;
  font-size: 11px;
  width: 70%;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

/* END : Tooltip container */
/* START: Scrollbar*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccd2d8; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c7cc; }

/* END: Scrollbar */
/* START: Droppable*/
.droppable {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-content: flex-start; }

/* END: Droppable*/
.nav-container {
  height: 40px;
  border-left: 1px solid #101721;
  border-top: 1px solid #1f3857;
  border-bottom: 1px solid #293b51; }
  .nav-container .nav-background {
    background-color: #131b26;
    opacity: 0.7;
    height: inherit; }
  .nav-container .nav-wrapper {
    position: relative;
    top: -40px;
    height: 40px;
    display: flex;
    flex-direction: row; }
    .nav-container .nav-wrapper .start-box {
      width: 20px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      position: relative; }
      .nav-container .nav-wrapper .start-box:before, .nav-container .nav-wrapper .start-box:after {
        content: "";
        position: absolute;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.2)), rgba(255, 255, 255, 0.08));
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.08));
        background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.08));
        background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.08));
        background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.08));
        top: 0px;
        bottom: 0px;
        width: 1px; }
      .nav-container .nav-wrapper .start-box:before {
        left: 0px; }
      .nav-container .nav-wrapper .start-box:after {
        right: 0px; }
    .nav-container .nav-wrapper .application-box {
      display: flex;
      flex-direction: row; }
      .nav-container .nav-wrapper .application-box .opened-windows {
        width: 88px;
        height: 39px;
        position: relative;
        border-width: 1px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2)); }
        .nav-container .nav-wrapper .application-box .opened-windows:hover {
          background: rgba(0, 0, 0, 0.4); }
        .nav-container .nav-wrapper .application-box .opened-windows.active {
          background: rgba(0, 0, 0, 0.4); }
          .nav-container .nav-wrapper .application-box .opened-windows.active .border-line {
            border-top: 2px solid #4cacff; }
            .nav-container .nav-wrapper .application-box .opened-windows.active .border-line:before {
              background-image: linear-gradient(transparent, transparent);
              -webkit-box-shadow: inset 1px 0px 3px 0px #05162a;
              -moz-box-shadow: inset 1px 0px 3px 0px #05162a;
              box-shadow: inset 1px 0px 3px 0px #05162a;
              width: 3px;
              height: 38px; }
            .nav-container .nav-wrapper .application-box .opened-windows.active .border-line:after {
              background-image: linear-gradient(transparent, transparent);
              -webkit-box-shadow: inset -1px 0px 3px 0px #05162a;
              -moz-box-shadow: inset -1px 0px 3px 0px #05162a;
              box-shadow: inset -1px 0px 3px 0px #05162a;
              width: 3px;
              height: 38px; }
          .nav-container .nav-wrapper .application-box .opened-windows.active .icon-main-menu {
            position: relative;
            top: -1px; }
          .nav-container .nav-wrapper .application-box .opened-windows.active #main-menu {
            background-color: rgba(0, 0, 0, 0.4); }
      .nav-container .nav-wrapper .application-box .box-shadow {
        -webkit-box-shadow: 5px -5px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px -5px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px -15px 7px -1px rgba(0, 0, 0, 0.65);
        height: inherit;
        width: inherit;
        position: absolute;
        right: 0px;
        transform: skewX(-2deg); }
      .nav-container .nav-wrapper .application-box .border-line {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        top: -1px;
        position: relative; }
        .nav-container .nav-wrapper .application-box .border-line:before, .nav-container .nav-wrapper .application-box .border-line:after {
          content: "";
          position: absolute;
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.2)), to(transparent));
          background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), transparent);
          background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), transparent);
          background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), transparent);
          background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
          top: 0px;
          bottom: -40px;
          width: 1px; }
        .nav-container .nav-wrapper .application-box .border-line:before {
          left: 0px; }
        .nav-container .nav-wrapper .application-box .border-line:after {
          right: 0px; }
      .nav-container .nav-wrapper .application-box .icon {
        height: inherit;
        position: relative;
        top: -2px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100; }
        .nav-container .nav-wrapper .application-box .icon .icon-main-menu {
          width: 20px;
          height: 20px; }
        .nav-container .nav-wrapper .application-box .icon .icon-open-apps {
          width: 22px;
          height: 22px; }
    .nav-container .nav-wrapper .user-box {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .nav-container .nav-wrapper .user-box .user-icon-wrapper {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: row; }
        .nav-container .nav-wrapper .user-box .user-icon-wrapper div {
          display: flex; }
      .nav-container .nav-wrapper .user-box .icon-user-box {
        width: 22px;
        height: 22px;
        padding-right: 10px;
        padding-left: 10px; }
      .nav-container .nav-wrapper .user-box .divider-1, .nav-container .nav-wrapper .user-box .divider-2 {
        width: 1px;
        height: 35px; }
      .nav-container .nav-wrapper .user-box .divider-1 {
        background: linear-gradient(transparent, #131b25, transparent); }
      .nav-container .nav-wrapper .user-box .divider-2 {
        background: linear-gradient(transparent, #627183, transparent); }

.nav-section {
  height: 40px;
  background-color: #2e445e;
  border-top: 2px solid #282828;
  border-bottom: 2px solid #293645;
  opacity: 0.8; }
  .nav-section .main-menu-section {
    display: flex;
    flex-direction: row; }
  .nav-section #start-point {
    width: 21px;
    height: 40px;
    -moz-box-shadow: inset 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 1px #ffffff;
    box-shadow: inset 0 0 1px #ffffff;
    border-left: 1px solid #121b26;
    border-right: 1px solid #121b26; }
  .nav-section #main-menu {
    -moz-box-shadow: inset 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 1px #ffffff;
    box-shadow: inset 0 0 1px #ffffff; }
  .nav-section #options {
    display: flex;
    flex-direction: row;
    margin-left: auto; }

.main-menu {
  background-color: #f5faff;
  position: absolute;
  left: 22px;
  width: 440px;
  padding: 12px 15px;
  color: #000000;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99; }
  .main-menu .search-wrapper {
    position: relative; }
    .main-menu .search-wrapper .icon-search-menu {
      position: absolute;
      width: 15px;
      height: 15px;
      padding-top: 6px;
      padding-left: 6px; }
    .main-menu .search-wrapper #search-menu {
      padding: 5px 5px 5px 25px;
      width: 392px; }
  .main-menu .application-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    max-width: 430px; }

.application-item {
  position: relative;
  position: relative;
  width: 140px;
  text-align: center;
  margin-bottom: 30px; }
  .application-item .icon-application {
    width: 45px;
    height: 45px; }
  .application-item .name-application {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    cursor: default; }
  .application-item .notification-application {
    background-color: #fa4949;
    width: 32px;
    border-radius: 40%;
    color: #ffffff;
    display: block;
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 12px;
    padding: 2px 0;
    -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6); }
  .application-item .notification-application-shadow {
    background-color: transparent;
    width: 32px;
    height: 16px;
    border-radius: 40%;
    display: block;
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 12px;
    padding: 2px 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.5); }
  .application-item.editable {
    position: relative;
    top: 25px;
    margin-bottom: 45px; }

.window {
  background-color: white;
  width: 200px;
  height: 200px; }

.application-window {
  position: absolute;
  width: 980px;
  height: 550px;
  background-color: #f5faff;
  /* margin-right: -50px; */
  transform: translate(30%, 25%); }
  .application-window .app-header {
    background: linear-gradient(#e6edf3, #f5faff); }
    .application-window .app-header .header-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 10px; }
    .application-window .app-header .icon-container.icon-windows {
      width: 25px;
      height: 25px; }
    .application-window .app-header .windows-name {
      font-weight: bold;
      color: #6e89a7; }
    .application-window .app-header .header-cta {
      display: flex;
      flex-direction: row; }
      .application-window .app-header .header-cta .icon-container.icon-windows {
        height: 16px;
        width: 25px; }
      .application-window .app-header .header-cta .tooltip .tooltiptext {
        left: 22px;
        top: 18px;
        width: inherit; }
      .application-window .app-header .header-cta .tooltiptext.info {
        width: 120px;
        text-align: left; }
  .application-window .app-content {
    display: flex;
    height: 90%;
    font-size: 12px; }
    .application-window .app-content .left-container {
      width: 230px;
      padding: 5px 10px; }
      .application-window .app-content .left-container .left-header {
        display: flex; }
        .application-window .app-content .left-container .left-header .btn-home {
          padding: 2px 10px;
          background: linear-gradient(#e6edf3, #f5faff);
          border: 1px solid #c9d0d8; }
          .application-window .app-content .left-container .left-header .btn-home:hover {
            background: linear-gradient(#e6edf3, #e6edf3); }
        .application-window .app-content .left-container .left-header .icon-container.icon-application {
          width: 16px;
          height: 16px; }
        .application-window .app-content .left-container .left-header .search-wrapper {
          position: relative;
          margin-left: 15px; }
        .application-window .app-content .left-container .left-header .icon-container.icon-search-menu {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 5px;
          left: 5px; }
        .application-window .app-content .left-container .left-header #search-control-panel {
          padding: 5px 5px 5px 30px;
          top: 1px;
          border: 1px solid #c9d0d8;
          width: 130px; }
      .application-window .app-content .left-container .control-panel-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px; }
        .application-window .app-content .left-container .control-panel-list .list-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px; }
          .application-window .app-content .left-container .control-panel-list .list-item .name {
            margin-top: 5px; }
        .application-window .app-content .left-container .control-panel-list .icon-container.icon-application {
          width: 30px;
          height: 30px;
          margin-right: 15px; }
    .application-window .app-content .divider {
      width: 1px;
      border-right: 1px solid #c9d0d8;
      position: relative;
      bottom: 0; }
    .application-window .app-content .right-container {
      width: 100%;
      padding: 0 15px; }
      .application-window .app-content .right-container hr {
        border: 1px solid #c9d0d8; }
      .application-window .app-content .right-container .cta-button {
        display: flex;
        border-bottom: 1px solid #c9d0d8;
        padding-top: 5px;
        padding-bottom: 10px; }
        .application-window .app-content .right-container .cta-button .btn-home {
          padding: 4px 10px;
          margin-right: 15px;
          background: linear-gradient(#e6edf3, #f5faff);
          border: 1px solid #c9d0d8; }
          .application-window .app-content .right-container .cta-button .btn-home:hover {
            background: linear-gradient(#e6edf3, #e6edf3); }
      .application-window .app-content .right-container .table-content {
        width: 100%; }
        .application-window .app-content .right-container .table-content td {
          border-bottom: 1px solid #c9d0d8;
          padding: 5px 0; }
        .application-window .app-content .right-container .table-content .header {
          color: #6e89a7; }
        .application-window .app-content .right-container .table-content .icon-caret-down {
          width: 10px;
          height: 8px; }

.widget-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 345px;
  background-color: #2e425a;
  opacity: 1;
  padding: 0 8px 8px 8px;
  border-radius: 4px;
  height: 255px; }
  .widget-wrapper .widget-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0; }
    .widget-wrapper .widget-cta .icon-container.icon-widget {
      width: 12px;
      height: 12px; }
    .widget-wrapper .widget-cta .right-container span {
      margin-left: 15px; }
  .widget-wrapper .widget-container {
    background-color: #ffffff; }
  .widget-wrapper .widget-application {
    padding: 10px; }
  .widget-wrapper .widget-header {
    display: flex;
    flex-direction: row; }
    .widget-wrapper .widget-header .icon-container.icon-widget {
      width: 25px;
      height: 25px; }
    .widget-wrapper .widget-header .widget-title {
      font-weight: bold;
      color: #686f77;
      font-size: 14px;
      margin-left: 10px; }
  .widget-wrapper .widget-content {
    display: flex;
    flex-direction: row;
    margin-top: 15px; }
    .widget-wrapper .widget-content .icon-container.icon-widget {
      width: 65px;
      height: 65px; }
    .widget-wrapper .widget-content .health-desc {
      margin-left: 15px; }
      .widget-wrapper .widget-content .health-desc p {
        margin: 0; }
        .widget-wrapper .widget-content .health-desc p.condition {
          color: #12805b;
          font-weight: bold;
          font-size: 20px;
          margin-top: 5px; }
        .widget-wrapper .widget-content .health-desc p.desc {
          font-size: 14px; }
    .widget-wrapper .widget-content .table-content {
      font-size: 14px;
      width: 100%; }
      .widget-wrapper .widget-content .table-content td {
        width: 50%; }
      .widget-wrapper .widget-content .table-content .tbl-right {
        font-weight: bold; }
