<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/faviconit/favicon.ico">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="images/faviconit/favicon-144.png">
	<meta name="msapplication-config" content="images/faviconit/browserconfig.xml">	
    <title>Synology Inc.</title>
	<!--build:css css/main.min.css-->
	<link rel="stylesheet" href="css/main.css">
	<!--endbuild-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.contextMenu.min.css">
	<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
</head>

<body>
    <div id="windows-container" v-cloak>
		<!--START: Top Navigation-->
        <nav id="nav-container" class="nav-container">
            <div class="nav-background"></div>
            <div class="nav-wrapper">
                <div class="start-box"></div>
                <div class="application-box" >
                    <div id="main-menu" class="opened-windows" v-on:click="clickMenu">
                        <div class="box-shadow"></div>
                        <div class="border-line"></div>
                        <div class="tooltip icon">
                            <svg class="icon-container icon-main-menu">
                                <use href="images/svg-symbols.svg#main-menu" xlink:href="images/svg-symbols.svg#main-menu" />
                            </svg>
                            <span class="tooltiptext">Main Menu</span>
                        </div>
					</div>
					<div class="app1 opened-windows d-none">
						<div class="box-shadow"></div>
						<div class="border-line"></div>
						<div class="tooltip icon">
							<svg class="icon-container icon-main-menu icon-open-apps">
								<use href="images/svg-symbols.svg#control-panel" xlink:href="images/svg-symbols.svg#control-panel" />
							</svg>
							<span class="tooltiptext">Control Panel</span>
						</div>
					</div>
                </div>
                <div class="user-box">
                    <div class="divider-1"></div>
                    <div class="divider-2"></div>
                    <div class="user-icon-wrapper">
                        <div>
                            <svg class="icon-container icon-user-box">
                                <use href="images/svg-symbols.svg#support" xlink:href="images/svg-symbols.svg#support"></use>
                            </svg>
                        </div>
                        <div>
                            <svg class="icon-container icon-user-box">
                                <use href="images/svg-symbols.svg#user" xlink:href="images/svg-symbols.svg#user"></use>
                            </svg>
                        </div>
                        <div>
                            <svg class="icon-container icon-user-box">
                                <use href="images/svg-symbols.svg#search" xlink:href="images/svg-symbols.svg#search"></use>
                            </svg>
                        </div>
                        <div>
                            <svg class="icon-container icon-user-box">
                                <use href="images/svg-symbols.svg#notification" xlink:href="images/svg-symbols.svg#notification"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
		<!--END: Top Navigation-->
		
		<!--START: Main Menu Application-->
        <section class="windows-wrapper" id="editor-container">
            <div class="row droppable">
                <div class="main-menu d-none" id="source">
                    <div class="search-wrapper">
                        <svg class="icon-container icon-search-menu">
                            <use href="images/svg-symbols.svg#search-xs" xlink:href="images/svg-symbols.svg#search-xs"></use>
                        </svg>
                        <input type="text" placeholder="Search" name="search-menu" id="search-menu">
                    </div>
                    <div class="application-wrapper">

                        <div v-for="app in applications" class="application-item draggable" v-bind={'id':''+app.id+'','class':''+app.contextMenuType+''}>
                            <svg class="icon-container icon-application ui-draggable ui-draggable-handle">
                                <use v-bind={'href':'images/svg-symbols.svg#'+app.iconName+'','xlink:href':'images/svg-symbols.svg#'+app.iconName+''}></use>
                            </svg>
                            <p class="name-application" v-text="app.applicationName"></p>
                            <span class="notification-application" v-text="app.notification" v-if="app.notification > 0"></span>
                            <span class="notification-application-shadow" v-if="app.notification > 0"></span>
                        </div>
                    </div>
				</div>
				<div id="app1" class="application-item type-one ui-draggable ui-draggable-handle ui-draggable-dragging editable app1">
					<svg class="icon-container icon-application ui-draggable ui-draggable-handle">
						<use href="images/svg-symbols.svg#control-panel" xlink:href="images/svg-symbols.svg#control-panel"></use>
					</svg> 
					<p class="name-application">Control Panel</p> 
					<span class="notification-application">1</span> 
					<span class="notification-application-shadow"></span>
				</div>
				<div id="app4" class="application-item type-two ui-draggable ui-draggable-handle ui-draggable-dragging editable app4">
					<svg class="icon-container icon-application ui-draggable ui-draggable-handle">
						<use href="images/svg-symbols.svg#faq" xlink:href="images/svg-symbols.svg#faq"></use>
					</svg> 
					<p class="name-application">DSM Help</p> 
					<!----> 
					<!---->
				</div>
				<div id="app2" class="application-item type-two ui-draggable ui-draggable-handle ui-draggable-dragging editable app2">
					<svg class="icon-container icon-application ui-draggable ui-draggable-handle">
						<use href="images/svg-symbols.svg#folder" xlink:href="images/svg-symbols.svg#folder"></use>
					</svg> 
					<p class="name-application">File Station</p> 
					<!----> 
					<!---->
				</div>
				<div id="app5" class="application-item type-one ui-draggable ui-draggable-handle ui-draggable-dragging editable app5">
					<svg class="icon-container icon-application ui-draggable ui-draggable-handle">
						<use href="images/svg-symbols.svg#stock" xlink:href="images/svg-symbols.svg#stock"></use>
					</svg> 
					<p class="name-application">Package Center</p> 
					<!----> 
					<!---->
				</div>
				<div id="app15" class="application-item type-two ui-draggable ui-draggable-handle ui-draggable-dragging editable app15">
					<svg class="icon-container icon-application ui-draggable ui-draggable-handle">
						<use href="images/svg-symbols.svg#admin" xlink:href="images/svg-symbols.svg#admin"></use>
					</svg> 
					<p class="name-application">Drive Admin Console</p> 
					<!----> 
					<!---->
				</div>
            </div>
		</section>
		<!--END: Main Menu Application-->
		
		<!--START: Open Windows Application-->
		<section class="windows-open-wrapper">
			<div id="control-panel" class="application-window app1 d-none">
				<div class="app-header">
					<div class="header-wrapper">
						<div>
							<svg class="icon-container icon-windows">
								<use href="images/svg-symbols.svg#control-panel" xlink:href="images/svg-symbols.svg#control-panel"></use>
							</svg> 
							</div>
						<div>
							<span class="windows-name">Control Panel</span>
						</div>
						<div class="header-cta">
							<span class="question">
								<div class="tooltip icon">
									<svg class="icon-container icon-windows">
										<use href="images/svg-symbols.svg#question" xlink:href="images/svg-symbols.svg#question"></use>
									</svg>
									<span class="tooltiptext info">To view and change system settings.</span>
								</div>
							</span>
							<span class="minimize">
								<div class="tooltip icon">
									<svg class="icon-container icon-windows">
										<use href="images/svg-symbols.svg#remove" xlink:href="images/svg-symbols.svg#remove"></use>
									</svg>
									<span class="tooltiptext">minimize</span>
								</div>
							</span> 
							<span class="maximize">
								<div class="tooltip icon">
										<svg class="icon-container icon-windows">
											<use href="images/svg-symbols.svg#check-box-empty" xlink:href="images/svg-symbols.svg#check-box-empty"></use>
										</svg>
									<span class="tooltiptext">maximize</span>
								</div>								
							</span> 							
							<span class="close">
								<div class="tooltip icon">
									<svg class="icon-container icon-windows">
										<use href="images/svg-symbols.svg#close" xlink:href="images/svg-symbols.svg#close" />
									</svg>
									<span class="tooltiptext">close</span>
								</div>								
							</span> 
						</div>
					</div>
				</div>
				<div class="app-content">
					<div class="left-container">
						<div class="left-header">
							<div>
								<button class="btn-home">
									<svg class="icon-container icon-application">
										<use href="images/svg-symbols.svg#home" xlink:href="images/svg-symbols.svg#home"></use>
									</svg>
								</button>
							</div>
							<div class="search-wrapper">
								<svg class="icon-container icon-search-menu">
									<use href="images/svg-symbols.svg#search-xs" xlink:href="images/svg-symbols.svg#search-xs"></use>
								</svg>
								<input type="text" placeholder="Search" name="search-menu" id="search-control-panel">
							</div>
						</div>
						<div class="control-panel-list">
							<div class="list-item">
								<span>
									<svg class="icon-container icon-application">
										<use href="images/svg-symbols.svg#man" xlink:href="images/svg-symbols.svg#man"></use>
									</svg>									
								</span>
								<span class="name">User</span>
							</div>
							<div class="list-item">
								<span>
									<svg class="icon-container icon-application">
										<use href="images/svg-symbols.svg#network" xlink:href="images/svg-symbols.svg#network"></use>
									</svg>									
								</span>
								<span class="name">Group</span>
							</div>
							<div class="list-item">
								<span>
									<svg class="icon-container icon-application">
										<use href="images/svg-symbols.svg#notebook" xlink:href="images/svg-symbols.svg#notebook"></use>
									</svg>									
								</span>
								<span class="name">Domain/LDAP</span>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="right-container">
						<div class="cta-button">
							<div>
								<button class="btn-home">
									<span>Edit</span>
								</button>								
							</div>
							<div>
								<button class="btn-home">
									<span>Permission Viewer</span>
								</button>								
							</div>
						</div>
						<div>
							<table class="table-content" cellspacing="0">
								<tr class="header">
									<td>
										<span>Applications</span>
										<span>
											<svg class="icon-container icon-caret-down">
												<use href="images/svg-symbols.svg#caret-down" xlink:href="images/svg-symbols.svg#caret-down"></use>
											</svg>												
										</span>
									</td>
									<td>
										<span>Grant this privilege to all users by default</span>
									</td>
								</tr>
								<tr>
									<td>
										<span>Audio Station</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>
								<tr>
									<td>
										<span>Calendar</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>
								<tr>
									<td>
										<span>Chat</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>
								<tr>
									<td>
										<span>DSM</span>
									</td>
									<td>
										<span>Yes</span>
									</td>
								</tr>	
								<tr>
									<td>
										<span>Download Station</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>	
								<tr>
									<td>
										<span>Drive</span>
									</td>
									<td>
										<span>Yes</span>
									</td>
								</tr>	
								<tr>
									<td>
										<span>FTP</span>
									</td>
									<td>
										<span>Yes</span>
									</td>
								</tr>	
								<tr>
									<td>
										<span>File Station</span>
									</td>
									<td>
										<span>Yes</span>
									</td>
								</tr>
								<tr>
									<td>
										<span>Moments</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>
								<tr>
									<td>
										<span>Note Station</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>	
								<tr>
									<td>
										<span>Surveillance Station</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>
								<tr>
									<td>
										<span>Text Editor</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>	
								<tr>
									<td>
										<span>Universal Search</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>	
								<tr>
									<td>
										<span>Video Station</span>
									</td>
									<td>
										<span></span>
									</td>
								</tr>		
								<tr>
									<td>
										<span>rsync (Shared Folder Sync, LUN Backup on supported...</span>
									</td>
									<td>
										<span>Yes</span>
									</td>
								</tr>												
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--END: Open Windows Application-->

		<!--START: Widget-->
		<section class="widget-wrapper">
			<div class="widget-cta">
				<div>
					<span>							
						<svg class="icon-container icon-widget">
							<use href="images/svg-symbols.svg#add" xlink:href="images/svg-symbols.svg#add"></use>
						</svg>
					</span>
				</div>
				<div class="right-container">
					<span>
						<svg class="icon-container icon-widget">
							<use href="images/svg-symbols.svg#remove-xs" xlink:href="images/svg-symbols.svg#remove-xs"></use>
						</svg>						
					</span>
					<span>
						<svg class="icon-container icon-widget">
							<use href="images/svg-symbols.svg#pin" xlink:href="images/svg-symbols.svg#pin"></use>
						</svg>						
					</span>
					<span>
						<svg class="icon-container icon-widget">
							<use href="images/svg-symbols.svg#statistical-chart" xlink:href="images/svg-symbols.svg#statistical-chart"></use>
						</svg>						
					</span>
				</div>
			</div>
			<div class="widget-container">
				<div id="widget1" class="widget1 widget-application">
					<div class="widget-header">
						<div>					
							<svg class="icon-container icon-widget">
								<use href="images/svg-symbols.svg#health" xlink:href="images/svg-symbols.svg#health"></use>
							</svg> 
						</div>
						<div>
							<span class="widget-title">System Healths</span>
						</div>
					</div>
					<div class="widget-content">
						<div>
							<svg class="icon-container icon-widget">
								<use href="images/svg-symbols.svg#checked" xlink:href="images/svg-symbols.svg#checked"></use>
							</svg>
						</div>
						<div>
							<div class="health-desc">
								<p class="condition">Good</p>
								<p class="desc">Your DDSM is working well</p>
							</div>
						</div>
					</div>
					<div class="widget-content">
						<table class="table-content">
							<tr>
								<td class="tbl-right">Server name</td>
								<td class="tbl-left">a75</td>
							</tr>
							<tr>
								<td class="tbl-right">Lan</td>
								<td class="tbl-left">172.21.2.75</td>
							</tr>
							<tr>
								<td class="tbl-right">Uptime</td>
								<td class="tbl-left">00:16:43</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
		<!--END: Widget-->
    </div>
    </section>
    </div>
</body>
<!--build:js js/main.min.js -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/vee-validate@latest"></script>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/jquery-contextmenu/dist/jquery.contextMenu.min.js"></script>
<script src="node_modules/jquery-contextmenu/dist/jquery.ui.position.js"></script>
<script src="node_modules/jquery-ui-stable/jquery-ui.min.js"></script>
<script src="node_modules/svg4everybody/dist/svg4everybody.js"></script>
<script src="node_modules/svg4everybody/dist/svg4everybody.legacy.js"></script>
<script>svg4everybody();</script>
<script src="js/main.js"></script>
<!-- endbuild -->


</html>